{% extends "build.html" %}
{% block content %}

	<div id="contents">
		<div class="features">
			<h1>Developed by :</h1>

			<div>
				<span>
				<img src="static\images\Himanshu.jpg" alt="Img" height=450>
				<div class="det">
				<h2><b><u><em>Himanshu Agarwal</em></u></b></h2>
					<h3>My Academic Details are : </h3>			
					<ul><li>Roll Number : 14075031</li>
					<li>Serial Number : 39</li>
					<li>Department : Computer Science and Engineering</li>
					<li>Degree : B.Tech</li>
					<li>Age : 19 years</li></ul>
				<h2>My Courses are :</h2>
					<ul>
        				<li>ITWS-1:Information Technology WorkShop 1</li>
        				<li>MA-102:Mathematics</li>
      				        <li>EO-101:Fundamentals of electrical engineering</li>
               			        <li>CMO-101:Engineering mechanics</li>
        				<li>H-101:History and Civilisation</li>
        				<li>Manufacturing Practices</li>
        				<li>Engineering Drawing</li>
      					</ul>
				</div>
				</span>
			</div>
	</div>
	<div id="footer">
		
	</div>

{% endblock %}
